@font-face {
    font-family: 'StyrenAWeb';
    src: url('./StyreneAWeb-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'StyrenAWeb';
    src: url('./StyreneAWeb-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: 'StyrenAWeb';
    src: url('./StyreneAWeb-Regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  